<div class="container">
    <div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
        <div class="card-body">
            <h2 class="text-center"> {{ article.votes }} </h2>
            <p class="text-center">POINTS</p>
        </div>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <a href="{{ article.link }}" class="card-title"> {{ article.title }} </a>
        <p class="card-text">({{ article.link }})</p>
        <a href="" (click)="voteUp()" class="card-link">upvote</a>
        <a href="" (click)="voteDown()" class="card-link">downvote</a>
      </div>
    </div>
  </div>
</div>
</div>